*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(195, 30, 28);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background-color:#f2e1bf;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    
    
}

ul{
    display: flex;
    list-style: none;
    justify-content:space-around ;
    align-items: center;
}
li{
    padding: 1.5em;
   
}
.logo{
    height: 6em;
    width: auto;
   
}

a{
    color: rgb(11, 10, 10);
    text-decoration: none;
}
a:hover{
    color: #c9242c;
}
.about-info{
    margin: 2em 10em;
}
.about-heading{
    padding: 0.5em 0;
}
.about-text{
    padding: 0.5em 0;
}
.about-info-img{
    width: 45em;
    padding: 2em 0;
}
footer{
    background-color: black;
    color: #f2e1bf;
    text-align: center;
    padding: 0.5em 0;
}
